%h1.page-header= contest.title
.row
  %p.col-sm-8.date-label= "#{ contest.start_at } - #{ contest.end_at }"
  - if admin_user?
    %p.col-sm-4.text-right= link_to "コンテスト情報を編集する", edit_contest_path(contest)

- if current_user
  - if !current_user.aoj_id && contest.problem_sources.include?('aoj')
    .alert.alert-warning
      このコンテストには AOJ の問題が含まれますが, AOJ ID が設定されていません
