%h1.page-header= @contest.title
.row
  %p.col-sm-8.date-label= "#{ @contest.start_at } - #{ @contest.end_at }"
  - if admin_user?
    %p.col-sm-4.text-right= link_to "コンテスト情報を編集する", edit_contest_path(@contest)

- if @contest.contestant?(current_user) or @contest.past?
  %h2 順位表
  .standings
    = render 'standings', { standings: @contest.standings, problems: @contest.problems, users: @users }
- else
  = render 'registration'
