.row
  .col-sm-10.col-sm-offset-1
    %h1.page-header= @contest.title
    .row
      %p.col-sm-8.date-label= "#{ @contest.start_at } - #{ @contest.end_at }"
      - if admin_user?
        %p.col-sm-4.text-right= link_to "コンテスト情報を編集する", edit_contest_path(@contest)
    .description
      %p= simple_format(@contest.description)

    - if !current_user.aoj_id && @contest.problem_sources.include?('aoj')
      .alert.alert-warning
        このコンテストには AOJ の問題が含まれますが, AOJ ID が設定されていません

    - if @contest.contestant?(current_user) or @contest.past?
      %ul.nav.nav-tabs
        %li.nav-item.active= link_to '順位表', '#standings', 'data-toggle': 'tab'
        %li.nav-item=        link_to '提出一覧', '#submissions', 'data-toggle': 'tab'

      .tab-content
        .standings.tab-pane.in.active#standings
          = render 'standings', { standings: @contest.standings, problems: @contest.problems, users: @users }
        .tab-pane#submissions
          - if @contest.submissions.any?
            = render 'submissions', { submissions: @contest.submissions }
          - else
            提出がありません
    - else
      = render 'registration'
